/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
*/
html {
    font-family: Arial, Helvetica, sans-serif;
}
hr{
    margin: 2em 0;
    color: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;;
}
/* .border-black{ */
    /* border: 2px dashed black; */

.border-white{
    border: 2px dashed white;
}

/* header */
header{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/jumbo.png);
    /* background-color:#add8e6 ; */
}
.header-bar{
    height: 80%;
    width: 1000px;
    display: flex;
    /* background-color:#daa520 ; */
}
.logo{
    width: 25%;
    display: flex;
    align-items: center;
}
nav{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul{
    list-style: none;
    display: flex;
    column-gap: 1em;
}
li{
    color: white;
}
.big-scatola-content {
    text-align: center;
    display: inline-block;
    
}
.big-scatola-content a {
    margin-top: 20px;
    
}
.login{
    width: 25%;
     display: flex; 
    justify-content: flex-end;
    align-items: center;
}
.button{
    padding: .7rem 1.3rem;
    border-radius: 1rem;
    border: none;
    justify-content: center;
}

.white-button{
    color: black;
    background-color: white;
    text-align: center;
}
.black-button{
    color: white;
    background-color: black;
    text-align: center;
}
.light-button{
    background-color: #7289da;
    color: white;
}

/* big scatola */
.big-scatola{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    /* background-color:#00008b; */
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-size: cover;
    
}
.big-scatola-content{
    height: 80%;
    width: 50%;
    /* background-color: #ee82ee; */
}
.big-scatola-content > h1{
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: white;
    text-align: center;
}
.big-scatola-content > p{
    font-size: 1rem;
    margin-bottom: 50px;
    color: white;
    text-align: center;

}


/* main */
.section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2em;
}
.section.white{
    background-color: white;
}
.section.grey{
    background-color: #D3D3D3;
}
.p-cont{
    display: flex;
    height: 400px;
    width: 100%;
}
.pink >  h1 {
    font-size: 2rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    text-align: center;
}
.pink >  p{
    font-size: 1rem;
    margin-bottom: 0.75rem;
    text-align: center;
} 

.p-cont .blue{
    width: 60%;
    /* background-color: #1E90FF; */
}
.p-cont .pink{
    width: 40%;
    height: 300px;
    /* background-color: #FFC0CB; */
}
.p-cont-big{
    /* display: flex;  */
    height: 800px;
    width: 100%;
}

.p-cont-big > h1  {
    font size: 2rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    text-align: center;
}
.p-cont-big > p{
    font-size: 1rem;
    text-align: center;
    display: flex;

} 

.p-cont-big > h2{
    font size: 2rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    text-align: center;
}


.p-cont-big .green{
    width: 100%;
    /* background-color: green; */
}
.p-cont-big > .green > img{
   display: flex;
   align-items: center;
   justify-content: center;
   padding-left: 50px;
}
h2.star{
    padding-top: 2rem;
    width: 35%;
    margin: 0 auto;
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

/* footer */
footer{
    padding: 2em 0;
    background-color: #212426;
}
.footer-colonne{
    display: flex;
    height: 450px;
    /* background-color: #20B2AA; */
}
.first-colonna{
    width: 30%;
    /* background-color: #F08080; */
}
.other-colonna{
    width: calc(70% /4);
    /* background-color: #20B2AA; */
}
.footer-botton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    /* background-color: #23272A;  */
}

.bottom{
    padding: 5px;
    /* background-color: #F7AFB7; */
}
.foto{
    width: 2rem;
}
aside h3{
    margin-bottom: 20px;
    font-size: 2rem;
}
aside div{
    margin-bottom: 20px;
}

.light-blue{
    text-align: center;
    color: #7289da;
    padding-bottom: 10px;
}
span {
    font-size: 1.5rem; 
    color: white;
    margin-bottom: 20px;
} 
.first-colonna > aside > div{
    font-size: 1.5rem;
    margin top: 30px;     
}
.other-colonna ul{
    list-style-type: none;
}
.other-colonna a{
    text-decoration: none;
    color: white;
}
.other-colonna li{
    padding: 10px 0;
    padding-left: 70px;
    text-align: initial;
}